

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  body {


    font-family: 'Poppins', 'Roboto', sans-serif;
    font: 400 16px 'Poppins', 'Roboto',sans-serif;
    list-style: none;
  }

  button{
    cursor: pointer;
  }
  a{
    color: inherit;
    text-decoration: none;
  }

