.mainContainer{
  max-width: 1120px;
  margin: 0 auto;
  height: calc(100vh - 5rem);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionContent {
  max-width: 600px;

  >span{
    
  }

}