.headerContainer{

  height: 5rem;

  border-bottom: 1px solid var(--gray-800);
}
.headerContent{
  max-width: 1120px;
  display: flex;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: center;

  nav{
    margin-left: 5rem;
    height: 5rem;

    a{
      display: inline-block;
      position: relative;
      height: 5rem;
      padding: 0 0.5rem;
      color: var(--gray-300);
      transition: color 0.3s;
      line-height: 5rem;
      &:hover{
        color: var(--white)
      }
      &.active{
        color: var(--yellow-500)
      }
      &.active::after {
        content: '';
        position: absolute;
        
        height: 3px;
        border-radius: 10px 10px 0px 0px;
        width: 57px;
        left: 0;
        bottom: ;
        background: #EBA417;
        
        /* Yellow */
        
      }

    }
  }

}