.headerContainer{

  height: 5rem;

  border-bottom: 1px solid var(--gray-800);
}
.headerContent{
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  height: 5rem;
  align-items: center;

  nav{
    margin-left: 5rem;
    height: 5rem;

    a{
      display: inline-block;
      position: relative;
      height: 5rem;
      padding: 0 0.5rem;
      color: var(--gray-300)


      

    }
  }

}